<a href="https://colab.research.google.com/github/kim-hyun-ho/study/blob/main/210326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#복습
####리스트 : 중괄호 [,,] =>삽입,수정,삭제

####튜플 : 소괄호 (,,) => 삽입,수정,삭제 불가, 리드온리 리스트?

####딕셔너리 : 대괄호{키1:값1, 키2:값2, ....} => 접근편의 위해 컬럼이름을 키로 할당 키로만 접근 가능 

#2021.03.26 파이썬 기초

In [ ]:
#리스트 소트 복습
a=[13,4,2,2,3,4]
print(a)

print(sorted(a)) #sorted는 정렬한 새로운 리스트 반환한다.
print(a)

a.sort()
print(a)

[13, 4, 2, 2, 3, 4]
[2, 2, 3, 4, 4, 13]
[13, 4, 2, 2, 3, 4]
[2, 2, 3, 4, 4, 13]

In [ ]:
a=1
b=2
c=3

d=[a,b,c]
print(d)

[1, 2, 3]

In [ ]:
#조건문
#과학적 문제해결 방법
# 문제인식 > 가설설정 > 실증 > 해법규명

#if else
money = True
if money :
  print("여행을 간다")
else :
  print("집에서 쉰다")

여행을 간다

In [ ]:
#elif 추가

money = 25000
if money <= 5000 :
  print('라면을 먹는다')
elif 5000 < money <= 25000 :
  print('치킨을 먹는다')
elif 25000 < money <= 50000 :
  print('삼겹살을 먹는다')
else :
  print('소고기를 먹는다')

치킨을 먹는다

In [ ]:
#불연산 특별한 함수

boolean_list=[True, False, True, False]
print(all(boolean_list)) #sql에서 서브쿼리 결과 다수일때 비슷한 사용 예 있음
print(any(boolean_list))

False
True

In [ ]:
#if연습
money =20000
card =True

if card :
  if money < 30000 :
    print('삼겹살을 먹는다')
  else :
    print ("소고기를 먹는다")
else:
  if money <=1000 :
    pass #아무것도 하지않고 지나가라.
  else:
    print('라면을 먹느다')

삼겹살을 먹는다

In [ ]:
#삼항 연산자
#%%timeit 
#함수나 코드 시간 측정
value = 20
is_even = True if value%2 == 0 else Fasel #
#print(is_even)

#막간을 이용한 sql 복습
#select decode(mod(20,2),0,'True','False') from dual;
#select decode(mod(21,2),0,'True','False') from dual;

The slowest run took 14.65 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 92.1 ns per loop

In [ ]:
#포멧팅
# %d int, %f float, %s 스트링, %c 문자1개 , %% %자체
num=1
print('문자열 포메팅 하기 예시 %d' %num)
print('문자열 포메팅 하기 예시 {}'.format(num)) #포멧함수
print(f'문자열 포메팅 하기 예시 {num}') #f스트링=============================********========= 자주쓴다.
ch='이름'
print('내이름은 : %s' %ch)
print('내이름은 : {}'.format(ch))
print(f'내이름은 : {ch}')
fl = 2.566132
print('반올림 하기 : %0.1f' %fl)

#이름으로도 포멧팅
print('나는 오늘 {음료}를 {개수} 잔이나 마셨다'.format(음료='커피', 개수=3))

문자열 포메팅 하기 예시 1
문자열 포메팅 하기 예시 1
문자열 포메팅 하기 예시 1
내이름은 : 이름
내이름은 : 이름
내이름은 : 이름
반올림 하기 : 2.6
나는 오늘 커피를 3 잔이나 마셨다

In [ ]:
#연습
a=34
b=4
if (a%b) < 3:
  print('성공')
elif (a%b) ==3:
  print('무승부')
else :
  print('실패')

성공

In [ ]:
#연습
def inputnum() :
  try :
    val = input("숫자를 입력해 주세요 :")
    val = int(val)
    return val
  except ValueError:
    try:
      val = float(val)
      return val
    except ValueError:
      return val
      #정수 실수 아니면 문자열 그대로 반환

# a = inputnum()
# print(type(a))
# b = inputnum()
# print(type(b))
# c = inputnum()
# print(type(c))
a=0
b=0
c=0

while True:
 print('첫번째 숫자를 입력해 줏세요')
 a=inputnum()
 if type(a) == str: continue
 break

while True:
 print('두번째 숫자를 입력해 줏세요')
 b=inputnum()
 if type(b) == str: continue
 break

while True:
 print('세번째 숫자를 입력해 줏세요')
 c=inputnum()
 if type(c) == str: continue
 break

if a>65 and b>65 and c>65:
  print("합격")
else:
  print("불합격")

첫번째 숫자를 입력해 줏세요
숫자를 입력해 주세요 :123
두번째 숫자를 입력해 줏세요
숫자를 입력해 주세요 :123
세번째 숫자를 입력해 줏세요
숫자를 입력해 주세요 :123
합격

In [ ]:
#홀짝구분
a = inputnum()
if type(a)==str:
  print('문자를 입력하셨네요')
else:
  if a%2 ==0:
    print(f'{a}는 짝수')
  else:
    print(f'{a}는 홀수')

0~100의 숫자를 입력해 주세요 :5
5는 홀수

In [ ]:
#2와 3의배수인지 검사
print('양의 정수를 입력해 주세요')
a=inputnum()
if type(a) == str:
  print('문자를 입력하셨네요')
elif type(a) == float:
  print('실수를 입력하셨네요')
elif a <=0:
  print('양의 정수가 아니에요')
else:
  if a%2==0 and a%3==0:
    print(f'{a}는 2와 3의 공배수입니다.')
  elif a%2==0:
    print(f'{a}는 2의 배수입니다.')
  elif a%3==0:
    print(f'{a}는 3의 배수입니다.')
  else:
    print(f'{a}는 2나 3의 배수가 아닙니다.')

양의 정수를 입력해 주세요
0~100의 숫자를 입력해 주세요 :1234234236
1234234236는 2와 3의 공배수입니다.

#파이썬 반복문 while 문
##while 조건:
##continue 
##break
####파이썬에는 do~ while이 없으니까 while Treu: 로 놓고 조건에 따라 break or continue 하는 것으로 활용

In [ ]:
#파이썬 반복문 while 문
#while 조건:
 #continue
 #break
###########
#파이썬에는 do~ while이 없으니까 while Treu: 로 놓고 조건에 따라 break or continue 하는 것으로 활용

In [ ]:
#for i in rage(): 문

for i in range(5):
  print(i)
print()

#
word = 'Hello'
for w in word:
  print(w)

#이중으로 들어있을 때.
for a,b in [(2,1),(2,2),(2,3)]:
  print(f'{a} * {b} = {a*b}')

0
1
2
3
4

H
e
l
l
o
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

In [ ]:
#구구단
for x in range(2,4):
  for y in range(2,10):
    print(f'{x} * {y} = {x*y}')
  print()

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
for x in range(1,21):
  print(f'{x}단 ===============')
  for y in range(2,10):
    print(f'{x} * {y} = {x*y}')
  print()

1단 ===============
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2단 ===============
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단 ===============
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단 ===============
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단 ===============
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단 ===============
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단 ===============
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단 ===============
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단 ===============
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

10단 ===============
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

11단 ===============
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99

12단 ===============
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108

13단 ===============
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117

14단 ===============
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126

15단 ===============
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135

16단 ===============
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144

17단 ===============
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153

18단 ===============
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162

19단 ===============
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171

20단 ===============
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180

In [ ]:
#1부터 10의 합
isum=0;
for i in range(1,11):
  isum +=i
print(f'1부터 10의 합은 {isum}입니다.')

1부터 10의 합은 55입니다.

In [ ]:
# 입력받은 수만큼 안녕 출력
i=0
while True:
  print('양의 정수를 입력해 주세요\n')
  i=inputnum()
  if type(i)!=int : continue
  for n in range(i):
    print("안녕")
  print(f'\n입력 받은 숫자 만큼 {i}회 출력하였습니다.')
  break;

양의 정수를 입력해 주세요

숫자를 입력해 주세요 :asdf
양의 정수를 입력해 주세요

숫자를 입력해 주세요 :6
안녕
안녕
안녕
안녕
안녕
안녕

입력 받은 숫자 만큼 6회 출력하였습니다.

In [ ]:
# 입력받은 수만큼 별출 출력
i=0
while True:
  print('양의 정수를 입력해 주세요\n')
  i=inputnum()
  if type(i)!=int : continue
  for n in range(i+1):
    print("*"*n)

#역순찍기
  for n in range(i,-1,-1): 
    print("$"*n)

  print(f'\n입력 받은 숫자 만큼 {i}회 출력하였습니다.')
  break;

양의 정수를 입력해 주세요

숫자를 입력해 주세요 :5

*
**
***
****
*****
$$$$$
$$$$
$$$
$$
$


입력 받은 숫자 만큼 5회 출력하였습니다.

In [ ]:
x=[3,6,9,20,-7,5]
for i in x:
  print(i*10)

30
60
90
200
-70
50

In [ ]:
#딕셔너리는 키로 접근됨.
y={"math":70, "science":80, "english":20}
for key in y:
  val = y[key]
  print(f'{key} : {val}')

math : 70
science : 80
english : 20

In [ ]:
#정수 입려받아 구구단
#f스트링 포멧팅
# {문자:10s}
# {정수:^10d}
# {실수:>10f}
# {실수:>10.3f}

while True:
  print('양의 정수를 입력해 주세요\n')
  i=inputnum()
  if type(i)!=int : continue
  #구구단
  for j in range(1,10):
    print(f'{i} * {j} = {i*j:>2d}')
  break;

양의 정수를 입력해 주세요

숫자를 입력해 주세요 :6
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [ ]:
#6글자 이상만 새로운 리스트로 만들어라.
word = ['school','game','piano','science','hotel','mountain']
newword =[]
for w in word:
  if len(w) >= 6: newword.append(w)
print(newword)

['school', 'science', 'mountain']

In [ ]:
#구구단 1단부터 9단
for i in range(1,10):
  print(f'{i}단 ==========')
  for j in range(2,10):
    print(f'{i} x {j} = {i*j:>2d}')
  print()

In [ ]:
#1~100중 3과 5의 배수 및 공배수 

while True:
  print('1~100 정수를 입력해 주세요\n')
  i=inputnum()
  if type(i)!=int or i<1 or i>100: continue
  #구구단
  if i%(3*5) ==0:
    print(f'{i}(은)는 3과 5의 공배수')
  elif i%3 ==0:
    print(f'{i}(은)는 3의 배수')
  elif i%5 ==0:
    print(f'{i}(은)는 5의 배수')
  else :
    print(f'{i}')
  break;

1~100 정수를 입력해 주세요

숫자를 입력해 주세요 :30
30(은)는 3과 5의 공배수

In [ ]:
#숫자를 입력 받다가 s S 문자 입력되면 합계 출력
def is_digit_f(str):
  try:
    tmp = float(str)
    return True
  except ValueError:
    return False

numbers =[]
while True:
  value = input('수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.')
  if is_digit_f(value) :
    numbers.append(float(value))
    continue
  elif value.upper() == 'S': #합을 출력하고 끝내기.
    #print(type(numbers[0]))
    print(f'{numbers} \n의 합은 {sum(numbers)}') 
  break;

수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.30
수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.20
수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.50
수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.40
수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.30
수를 입력해 주세요 s 나 S를 입력하면 합계를 냅니다.s
[30.0, 20.0, 50.0, 40.0, 30.0]
의 합은 170.0

In [ ]:
#평균을 구하라
kor_score=[39,69,20,100,80]
math_score=[32,59,85,30,90]
eng_score=[49,70,48,60,100]
midterm_score=[kor_score,math_score,eng_score]
student=('A','B','C','D','E')
classname=('국어점수','수학점수','영어점수')

for c in range(len(student)):
  csum=[]
  for r in range(len(midterm_score)):
    #print(midterm_score[r][c])
    csum.append(midterm_score[r][c])
  print(f'{student[c]} 학생의 성적')
  print(f'{csum}')
  print(f' 평균 점수는 : {sum(csum)/len(classname):>3.2f}')

A 학생의 성적
[39, 32, 49]
 평균 점수는 : 40.00
B 학생의 성적
[69, 59, 70]
 평균 점수는 : 66.00
C 학생의 성적
[20, 85, 48]
 평균 점수는 : 51.00
D 학생의 성적
[100, 30, 60]
 평균 점수는 : 63.33
E 학생의 성적
[80, 90, 100]
 평균 점수는 : 90.00

#이차원 리스트 접근방법
## 루프
## 인라인루프
## zip
## numpy
## pandas

In [ ]:
#2차원 리스트 특정 열 접근
# 첫번째는 루프

# 인라인 루프
a=[[0,1],
   [2,3],
   [4,5],
   [6,7],
   [8,9]]
#리스트B의 요소 할당을 a리스트 for루프로 할당 첫번째 열
b= [i[0] for i in a]
print(b)

#zip을 이용한 방법 두번째 열
b=list(zip(*a))[1]
print(b)

[0, 2, 4, 6, 8]
(1, 3, 5, 7, 9)

In [ ]:
#numpy 어레이 사용
import numpy as np
b = np.array(a).T[0]
print(b)

[0 2 4 6 8]

In [ ]:
#판다스 사용
import pandas as pd
b=pd.DataFrame(a)[1]
print(b.to_list())

[1, 3, 5, 7, 9]

#파일 읽고 쓰기

In [31]:
text_file=open('/content/drive/MyDrive/sample.txt','r')
text_file

#!pwd or !dir
!pwd

#읽기
print(text_file.read())
text_file.close()

# with open('./test.txt','w') as fout:
#   fout.write('6시에 끝납니다.')
#   fout.close()

with open('./test.txt','r') as fin:
  #전부 읽기
  print(fin.read())
  fin.close()

with open('./test.txt','r') as fin:
  #한줄 읽기
  print(fin.readline())
  fin.close()

with open('./test.txt','r') as fin:
  #readlines는 리스트로 불러들인다.
  print(fin.readlines())
  fin.close()

/content
안녕하세요
6시에 끝납니다.


asd
f
asdf



asdf

6시에 끝납니다.

['6시에 끝납니다.\n', '\n', '\n', 'asd\n', 'f\n', 'asdf\n', '\n', '\n', '\n', 'asdf\n']