<a href="https://colab.research.google.com/github/kim-hyun-ho/study/blob/main/210329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2021.03.29
#파일읽기 딕셔너리 연습

In [ ]:
#student.txt 파일을  디셔너리로 읽는다.
#

infile = open('/content/drive/MyDrive/students.txt','r')
filecontent = infile.read()
infile.close()
# print(filecontent)

tline = filecontent.split('\n')
tdic ={}
for i in tline:
    tmp = i.split('\t')
    #딕셔너리는 명시적으로 추가, append나 insert없음
    tdic[tmp[0]] = tmp[1:]    
    #print(tdic)
print(tdic)

#함수 정의 하기

In [22]:
def f(x) :
    print(x+10)

f(3)

13

In [31]:
#연습
def div(a,b):
    mod = a % b #나머지 연산
    # r = int(a/b)
    r = a//b #몫연산
    return (r,mod)

print(div(10,3))
print(div(8,3))

(3, 1)
(2, 2)

In [29]:
#연습2  숫자 2개 입력 받아 앞의 숫자를 뒤의 숫자로 나눔
# 입력은 숫자만 받는다는 가정.
num1 = int(input('첫번째 숫자를 입력해 주세요'))
num2 = int(input('두번째 숫자를 입력해 주세요'))
print(div(num1,num2))

첫번째 숫자를 입력해 주세요12
두번째 숫자를 입력해 주세요5
(2, 2)

In [34]:
#연습3 0으로 나눌수 없구 두 수중 큰 수를 작은 수로 나눈다.
num1 = int(input('첫번째 숫자를 입력해 주세요'))
num2 = int(input('두번째 숫자를 입력해 주세요'))

if num1 ==0 or num2 == 0 :
    print('0으로 나눌 수 없습니다.')
elif num1 > num2:
    print(div(num1,num2))
else:
    print(div(num2,num1))

첫번째 숫자를 입력해 주세요100
두번째 숫자를 입력해 주세요-4
(-25, 0)

In [35]:
#매개변수 미정된 갯수로 받기
#튜플로만 전달 가능
def test(*args):
    print(args)

test(1,2,3,4,5)
test(1,2,3)

(1, 2, 3, 4, 5)
(1, 2, 3)

In [36]:
#매개변수 딕셔너리로 받기
def test1(**kwargs):
    print(kwargs)

test1(a=1,b=2,c=3)
test1(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#연습 스트링을 받아서 주어진 단위로 자르기
def strsplit(*args):
    #print(len(args))
    step = 2
    if len(args)>1:
        step=args[1]
    else:
        pass
    for i in range(0,len(args[0]),step):
        print(args[0][i:i+step])

strsplit('asasdfdf')
strsplit('asasdfasdfdfg', 3)

as
as
df
df
asa
sdf
asd
fdf
g

In [53]:
#연습
def add_all(*args):
    sum=0;
    print(args)
    for i in args:
         sum+=i
    return sum

print(add_all(1,2,3,4,5,6,7,8,9,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [55]:
#연습 리스트로 받기
#매개변수 형식을 리스트로 지정
def add_list(val :[]):
    print(val)

add_list([1,2,3,4,5,6,7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#지역벼수 전역변수 구분
a=1
def myfun(a):
    a+=1
    print(a)
myfun(a)
print(a)
#같은 변수이름이지만 메모리 공간은 다르다.
#Global 선언은 가독성 우려하여 잘쓰지 않는편 
#   => 함수형 프로그래밍 철학에도 안맞고, 사이드 이팩트 == 부작용 발생

2
1

#[파이썬 심화]
##enumerate : 인덱스와, 값 으로 가져옴
##zip : 길이가 같은 것 쌍으로 묶어줌
##lambda : 익명함수
##map : 각요소에 주어진 함수 적용
##list comprehension : 리스트 표현식
##Class
##모듈/패키지

In [59]:
#연습
people=['펭수','뽀로로','뚝딱이','텔레토비']
def func1(alist : []):
    seq=0
    rval=[]
    for i in alist:
        seq+=1
        print(f'대기번호 {seq}번 : {i}')
        rval.append((seq,i))
    return rval

lines= func1(people)
print(lines)

대기번호 1번 : 펭수
대기번호 2번 : 뽀로로
대기번호 3번 : 뚝딱이
대기번호 4번 : 텔레토비
[(1, '펭수'), (2, '뽀로로'), (3, '뚝딱이'), (4, '텔레토비')]

In [63]:
#enumerate()함수 써보기
#enumerate()함수는 인덱스와 값을 짝지어 반환한다.
people=['펭수','뽀로로','뚝딱이','텔레토비']
def func1(alist : []):
    rval=[]
    for i,val in enumerate(alist):
        print(f'대기번호 {i+1}번 : {val}')
        rval.append((i+1,val))
    return rval

lines= func1(people)
print(lines)

#sql로 복습하자면
# select rownum,items from items; 정도

대기번호 1번 : 펭수
대기번호 2번 : 뽀로로
대기번호 3번 : 뚝딱이
대기번호 4번 : 텔레토비
[(1, '펭수'), (2, '뽀로로'), (3, '뚝딱이'), (4, '텔레토비')]

In [67]:
#zip 함수
#길이가 같은 enum 타입 변수를 짝으로 묶어준다.
list1=['one','two','three','four']
e2 =(1,2,3,4)
print(zip(e2,list1))
aaa=list(zip(e2,list1))
print(aaa)

<zip object at 0x7fda163c3820>
[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [69]:
#람다 : 익명함수, 코드도 데이터
def plus2(num):
    return num+1

a=2
b=plus2(a)
print(b)

#람다 식
func2 = lambda x:x+2
c=func2(2)
print(c)

3
4

In [72]:
#map함수 : 각 요수에 특정 함수를 실행하기
items=[1,2,3,4,5]
squared=[]
for i in items:
    squared.append(i*i)
print(squared)

#map()함수와 람다식.
squared_map = list(map(lambda x:x**2,items))
print(squared_map)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [75]:
#연습문제
items=[1,24,3,6,7]
#요소를 스트링으로 바꾸기
str_items=list(map(lambda x:str(x),items))
print(items)
print(str_items)

[1, 24, 3, 6, 7]
['1', '24', '3', '6', '7']

In [83]:
#연습
list1 = [ i+1 for i in range(10)]
list2 = list(map(lambda x : x**2, list1))
print(list1)
print(list2)


a = [i for i in range(10) if i % 2 == 0]    # 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성
print(a)
a = [i * j for j in range(2, 10) for i in range(1, 10)] #중첩 for문
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 2, 4, 6, 8]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [90]:
# 연습
a=[f'{i} x {j} = {i*j}' for i in range(2,3) for j in range(2,10) ]
for line in a:
    print(line)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [114]:
# 뜨어쓰기로 나누고 단어길이 5미만인것만 리스트로 저장
val = '코로나 바이러스를 예방하기 위해 사회적 거리두기를 실천합시다. 외출 시에는 마스크를 끼고 손씻기를 생활화 합시다.'
print(val.split(' ')) #빈칸으로 나누기
print(val.split()) #생략하면 공백문자
vlist = [ x for x in val.split() if len(x)<5] #길이가 5이하인것만 리스트 만듬
print(vlist) #리스트 프린트
for i in vlist:
    print(i) #리스트 한줄씩 프린트

['코로나', '바이러스를', '예방하기', '위해', '사회적', '거리두기를', '실천합시다.', '외출', '시에는', '마스크를', '끼고', '손씻기를', '생활화', '합시다.']
['코로나', '바이러스를', '예방하기', '위해', '사회적', '거리두기를', '실천합시다.', '외출', '시에는', '마스크를', '끼고', '손씻기를', '생활화', '합시다.']
['코로나', '예방하기', '위해', '사회적', '외출', '시에는', '마스크를', '끼고', '손씻기를', '생활화', '합시다.']
코로나
예방하기
위해
사회적
외출
시에는
마스크를
끼고
손씻기를
생활화
합시다.

In [119]:
#연습
list4=[ x**2 if x%2==0 else x**3 for x in range(1,11) ]
print(list4)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [128]:
#연습
list5=[12,67,32,48,19,57,29,49]
lc_6 =[ x+5 if x<=40 else 41 for x in list5]
print(lc_6)

[17, 41, 37, 41, 24, 41, 34, 41]

In [127]:
#연습
students={'보라돌이':61, '뚜비':35, '나나':78, '뽀':88}
result = [(name,True) if score>=60 else (name,False) for name,score in students.items()]
print(result)

[('보라돌이', True), ('뚜비', False), ('나나', True), ('뽀', True)]

#클래스Class

In [ ]:
class MyClass() :
    class_var = '클래스 변수'
    #@클래스 메소드 만드는 데코레이터
    @classmethod
    def class_method(cls):
        print('클래스의 메소드')
    def instance_method(self):
        self.instance_var = '인스턴스 변수'
        print('인스턴스의 메소드')

In [131]:
class persion():
    #생성자
    def __init__(self):
        self.age=17
    #소멸자
    def __del__(self):
       pass 
p1=persion()
p1.age

17

In [142]:
class test():
    name= '아무나'
    age=0
    def __init__(self,name,age):
        # __new__ 가 생성자.
        print('초기화자 호출')
        self.name=name
        self.age=age
    def __del__(self):
        print('소멸자 호출')
    def info(self):
        print('나의 이름은',self.name, '입니다.')
        print('나이는',self.age,'입니다.')

r=test('류영표',31)
r.info()

생성자 호출
소멸자 호출
나의 이름은 류영표 입니다.
나이는 31 입니다.

#파이썬 메소드 오버라이딩 안됨.

## 파이썬 은 기본적으로 public

## 실무 프로그래밍을 할 때도 클래스 변수보다는 객체변수를 사용하는 비율이 훨씬 높다.

In [145]:
#상속 받아 클래스 만들기
class MyPhone():
    def __init__(self,model,color):
        self.mode=model
        self.color=color 
    def set_name(self,name):
        self.user=name
        print('사용자의 이름 : ', self.user)
    def set_number(self,number):
        self.number=number

##상속받기 (부모 클래스) 써주면 됨.
class MyPhone2(MyPhone):
    def has_case(self,val=False):
        self.case=val

p2=MyPhone2('iphone', 'red')
p2.set_name('MJ')
p2.has_case(True)
p2.case

사용자의 이름 :  MJ

True

In [155]:
#연습문제
class Human():
    def __init__(self,birth_date,sex,nation):
        self.birth_date=birth_date
        self.sex=sex
        self.nation=nation
    def given_name(self,name):
        self.name =name 
        print(self.name)
    def can_sing(self,val=False):
        if val==True :
            print('Sing a song')

h1=Human('210329','male','kor')
h1.given_name('honggildong')
h1.can_sing()
print('-------')
h1.can_sing(False)
print('-------')
h1.can_sing(True)

honggildong
-------
-------
Sing a song

In [162]:
#연습
class Child(Human):
    def __init__(self,bd,s,n,eye):
        #super.__init__ 아니다 super().__init__이다.
        super().__init__(bd,s,n)
        self.eye=eye
    def can_sing(self):
        print("Cant't sign")
    def can_dance(self):
        print('Dance Time!')

c1= Child('210329','female', 'us', 'red')
print(c1)
c1.can_sing()
c1.can_dance()

<__main__.Child object at 0x7fda16342090>
Cant't sign
Dance Time!

#모듈

In [163]:
import math

math.factorial(4)

24

In [167]:
#numpy
import numpy as np

aa=[1,2,3,4]
a=np.array(aa,np.int)
print(type(a))
print(a)

c=np.array(aa, np.complex)
print(type(c))
print(c)

<class 'numpy.ndarray'>
[1 2 3 4]
<class 'numpy.ndarray'>
[1.+0.j 2.+0.j 3.+0.j 4.+0.j]

In [170]:
#주소 참조 하므로 필요시 새 ndarray로 만들어 복사하여 사용
import numpy as np
a = np.array([1,2,3,4])
s=a[:2]
ss=a[:2].copy()
s[0]=99 #주소 복사이므로 a[0]도 바뀜
ss[0]=77
print(a)
print(s)
print(ss)

[99  2  3  4]
[99  2]
[77  2]