<a href="https://colab.research.google.com/github/kim-hyun-ho/study/blob/main/210402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 복습 문제풀이

#요소를 조건 적용

In [31]:
# x=[3,6,9.20,-7,5]의 모든 요소에 10을 곱한뒤 출력하세요
x=[3,6,9.20,-7,5]
x=list(map(lambda x: x*10,x))
x

[30, 60, 92.0, -70, 50]

In [51]:
#y={'math':70,'scient':80,'english':20}의 값의 요소에 10을 더한뒤 출력하세요

y={'math':70,'scient':80,'english':20}
y=dict(map(lambda x: (x[0], x[1] + 10), y.items() ))
#y.items() #튜플의 리스트 를 받아서 처리 왜? 딕셔너리를 키로만 접근 되니까.
#dict(튜플의 리스트)
y

{'english': 30, 'math': 80, 'scient': 90}

#필터링 filter()

In [127]:
#word=['school','game','piano','science','hotel','mountain']
#에서 글자수가 6이상인 문자를 모아 새로운 리스트를 생성

word=['school','game','piano','science','hotel','mountain']
#filter() 함수 사용
word=list(filter(lambda x: len(x)>=6, word))
print(word)

word=['school','game','piano','science','hotel','mountain']
#리스트 익스프레션
word=[ x for x in word if len(x)>=6]
print(word)

['school', 'science', 'mountain']
['school', 'science', 'mountain']

#zip 함수
### 동일한 컬럼수 의 여러행을
### 컴럼별로 묶인 튜플의 리스트로 만들어 줌 2차원 배열

In [64]:
# zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수이다.
# ※ 여기서 사용한 *iterable은 반복 가능(iterable)한 자료형 여러 개를 입력할 수 있다는 의미이다.
# 잘 이해되지 않는다면 다음 예제를 살펴보자.

# 동일한 갯수 => 동일한 컬럼수 의 여러행을 컴럼별로 묵인 튜플로 만들어줌

list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [68]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [66]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [77]:
list(map(lambda x : x+'_','asdfaasdfasdf'))

['a_', 's_', 'd_', 'f_', 'a_', 'a_', 's_', 'd_', 'f_', 'a_', 's_', 'd_', 'f_']

In [106]:
#글자수 Step 으로 자르기
val='12345678901234567890'
step=2
a=[]

#일반적인 for문
for i in range(0,len(val),step):
    a.append(val[i:i+step])

print(a)

['12', '34', '56', '78', '90', '12', '34', '56', '78', '90']

In [107]:
# 리스트 표현식으로 분리하기
slist = [ val[i:i+step] for i in range(0,len(val),step) ]
print(slist)

['12', '34', '56', '78', '90', '12', '34', '56', '78', '90']

In [112]:
#람다식으로 표현해 보기
mysplit = lambda val,step=1 : [val[i:i+step] for i in range(0,len(val),step)]
print(mysplit(val))
print(mysplit(val,2))
print(mysplit(val,3))
print(mysplit(val,4))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['12', '34', '56', '78', '90', '12', '34', '56', '78', '90']
['123', '456', '789', '012', '345', '678', '90']
['1234', '5678', '9012', '3456', '7890']

#리스트에 인덱스로 추가하기 : append() 대신에

In [84]:
#리스트에 인덱스로 추가하기
a=[]
a[len(a):]=['ccc']
a[len(a):]=['cdc']
a[len(a):]=['cec']
a

['ccc', 'cdc', 'cec']

In [113]:
#add_all 함수 만들기
def add_all(*args) :
    sum=0
    for x in args:
        sum+=x
    return sum

add_all(1,2,3,4,5,6,7,8,9,10)

55

In [114]:
#람다를 사용해 문자로 바꾸기
items=[1,24,3,6,7]
print(list(map(lambda x : str(x),items)))

['1', '24', '3', '6', '7']

In [120]:
#람다를 사용해 제곱하는 리스트 반환
items=range(1,10)
print(list(map(lambda x: x**2,items)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
val='코로나 바이러스를 예방하기 위해 사회적 거리두기를 실천합시다. 마스크를 끼고 손씻기를 생활화합시다.'
wlen=[ (len(i),i) for i in val.split()]
wlen

[(3, '코로나'),
 (5, '바이러스를'),
 (4, '예방하기'),
 (2, '위해'),
 (3, '사회적'),
 (5, '거리두기를'),
 (6, '실천합시다.'),
 (4, '마스크를'),
 (2, '끼고'),
 (4, '손씻기를'),
 (7, '생활화합시다.')]

In [124]:
#10 부터 20 사이의 짝수
print([ x for x in range(10,21) if x%2==0])
print([ x for x in range(10,21,2)])

[10, 12, 14, 16, 18, 20]
[10, 12, 14, 16, 18, 20]

#객체

In [154]:
# dir(list)

In [153]:
# import numpy as np
# 로또 번호 생성기
for i in range(4):
    print('로또번호 :', [ np.random.randint(1,46) for j in range(6) ])

로또번호 : [38, 27, 10, 30, 24, 40]
로또번호 : [1, 38, 36, 17, 6, 9]
로또번호 : [13, 26, 17, 27, 37, 19]
로또번호 : [15, 11, 45, 11, 9, 25]

#넘파이
###ndarray
###브로드캐스팅
###dot 내적
###reshape

#판다스 
##pannel data 
##DataFrame

#손실함수 mse, cee
####식에 제곱이 있는 이유는 컴퓨터 미분 가능성 때문?