<a href="https://colab.research.google.com/github/kim-hyun-ho/study/blob/main/210419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##otto 문제 다른방법 시도해보기

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import keras
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import xgboost as xgb

data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/otto.zip (Unzipped Files)/train.csv")
#id 잘라내기
data = data.drop(['id'], axis = 1)
#클래스 1부터 9 모두 숫자로 바꿈
data['target']=data['target'].map( { f'Class_{x}':x for x in range(1,10)} )
#학습 데이터 준비
X = data[data.columns[0:-1]]#마지막 컬럼 = target 빼고 복사
y= data['target']
#8:2로 분리
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size = 0.2, random_state=10)

model1=xgb.XGBClassifier(booster='gbtree', 
                    colsample_bylevel=0.9, 
                    colsample_bytree=0.8, 
                    gamma=0, 
                    max_depth=8, 
                    min_child_weight=3, 
                    n_estimators=50, 
                    nthread=4, 
                    objective='binary:logistic', 
                    random_state=2, 
                    silent= True)

# model1.fit(X_train,y_train, eval_set=[(val_X,val_Y)], early_stopping_rounds=50,verbos=5)
model1.fit(X_train,y_train)
prediction1 = model1.predict(X_test)
print('정확도 :', accuracy_score(y_test, prediction1))

aaa = pd.DataFrame(prediction1)

정확도 : 0.7990465416936006

In [12]:
aaa.head()

   0
0  3
1  3
2  6
3  2
4  2

In [13]:
y_test.head()

18367    3
23733    3
39686    6
12747    2
2072     2
Name: target, dtype: int64