<a href="https://colab.research.google.com/github/kim-hyun-ho/study/blob/main/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#키패드 누르기

def solution(numbers, hand):
    answer = ''
    numpad = {1:[0,3], 2:[1,3],  3:[2,3],
              4:[0,2], 5:[1,2],  6:[2,2],
              7:[0,1], 8:[1,1],  9:[2,1],
            '*':[0,0], 0:[1,0],'#':[2,0]}
    lh=numpad['*']
    rh=numpad['#']
    for n in numbers: 
        nn= numpad[n]
        if n in [1,4,7]: #147은 왼손
            answer+='L'; lh=nn
        elif n in [3,6,9]: #369는 오른손
            answer+='R'; rh=nn
        else: #2580은 거리 측정
            l2n = max(nn[0]-lh[0], -nn[0]+lh[0]) + max(nn[1]-lh[1], -nn[1]+lh[1])
            r2n = max(nn[0]-rh[0], -nn[0]+rh[0]) + max(nn[1]-rh[1], -nn[1]+rh[1])            
            # print(n, l2n, r2n)
            if l2n < r2n: #왼손이 가까우면 왼손
                answer+='L'; lh=nn
            elif l2n == r2n: #같은 거리면 어떤 손잡이 인지로 판단
                if hand == 'left' :
                    answer+='L'; lh=nn
                else:
                    answer+='R'; rh=nn
            else: # l2n > r2n
                answer+='R'; rh=nn
    return answer

print(solution([1, 3, 4, 5, 8, 2, 1, 4, 5, 9, 5],"right"))
print(solution([7, 0, 8, 2, 8, 3, 1, 5, 7, 6, 2],"left"))
print(solution([1, 2, 3, 4, 5, 6, 7, 8, 9, 0],"right"))

LRLLLRLLRRL
LRLLRRLLLRR
LLRLLRLLRL

In [ ]:
#소수 만들기

import math
from itertools import combinations

def isPrime(x):
    if x<2: return False
    for i in range(2,int(math.sqrt(x))+1):
        if x%i==0: return False
    return True

def solution(nums):
    answer = 0 #-1

    cl=combinations(nums,3)
    for ci in cl:
        cs = sum(ci)
        # print(ci,cs)
        if isPrime(cs):
            answer+=1
    return answer

print(solution([1,2,3,4]))
print(solution([1,2,7,6,4]))

1
4

In [ ]:
# 크레인 인형뽑기 게임 

def solution(board, moves):
    answer = 0
    bag=[]
    bag2=[]
    for col in moves:
        for row in range(len(board)):
            cn = board[row][col-1]
            bag2.append(cn)
            if  cn !=0: #0이 해당 컬럼의 0이 아닌것을 찾음
                board[row][col-1] = 0 #꺼냈으니까 0넣어 빈칸 만듬
                bag.append(cn) #꺼낸건 바구니에 담음
                break
        if len(bag) >1 and bag[-2]==bag[-1]: #바구니에 2개이상이고 마지막 2개가 중복인지 검사
            # print(bag)
            answer+=2 #사라진 개수 추가
            bag=bag[:-2]
    # print(bag2)
    return answer

print(solution([[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]],[1,5,3,5,1,2,1,4]))

4

In [ ]:
a=[2,3]
a[-2]

2

In [ ]:
'''파이썬 별(*) 연산자 열거형 요소를 풀어서 하나씩 보내줌'''
for i in zip*[[0,0],[1,1],[2,2]]):
    print(i)

(0, 1, 2)
(0, 1, 2)

In [ ]:
'''
리스트에 있는 특정값 모두 제거
https://hashcode.co.kr/questions/1158/리스트-안에-특정값을-다-지우는-방법이-궁금합니다

파이썬 더블 언더스코어: Magic Method
https://corikachu.github.io/articles/python/python-magic-method
'''
x = [1,2,3,2,2,2,3,4]

# list(filter(lambda a: a != 2, x)) #파이썬 2.x 버전
# list(filter((2).__ne__, x)) #파이썬 3.x 버전
# 예외처리 방법은 위의 링크 참고
[ i for i in x if i !=2] #리스트 표현식

[1, 3, 3, 4]

In [ ]:
'''리스트 앞자리 0 제거''적
a=[0,0,0,1,2,3]
# a.reverse()
a=a[::-1][:(a[::-1].index(0))][::-1] #역순으로 0을 찾아서 슬라이싱
a

[1, 2, 3]

In [ ]:
#내적
def solution(a, b):
    answer = 1234567890
    dot = [ a[i]*b[i] for i in range(len(a))]
    # print(dot)
    answer=sum(dot)
    return answer

print(solution([1,2,3,4], [-3,-1,0,2]))
print(solution([-1,0,1], [1,0,-1]))

[-3, -2, 0, 8]
3
[-1, 0, -1]
-2

In [ ]:
# K번째수
def solution(array, commands):
    answer = []
    answer = [ sorted(array[i[0]-1:i[1]])[i[2]-1] for i in commands]        
    # for i in commands:
    #     answer.append(sorted(array[i[0]-1:i[1]])[i[2]-1])        
    return answer

print(solution([1, 5, 2, 6, 3, 7, 4],[[2, 5, 3], [4, 4, 1], [1, 7, 3]]))

[5, 6, 3]

In [ ]:
# 로또의 최고 순위와 최저 순위 
def solution(lottos, win_nums):
    answer = []
    # print([ x for x in lottos if x==0],[ x for x in lottos if x in win_nums])    
    count_min = len([ x for x in lottos if x in win_nums]) #확실히 맞은 개수
    maybe = len([ x for x in lottos if x==0]) #0인자리 다 맞을 수도 다 틀릴 수도 있음
    count_max = count_min + maybe #확실한 거 + 맞을 수도 있는 거
    answer = [min(6,7-count_max), min(6,7-count_min)]
    return answer

print(solution([44, 1, 0, 0, 31, 25],[31, 10, 45, 1, 6, 19]))
print(solution([0, 0, 0, 0, 0, 0],[38, 19, 20, 40, 15, 25]))
print(solution([45, 4, 35, 20, 3, 9],[20, 9, 3, 45, 4, 35]))
print(solution([1,2,3,4,5,6],[7,8,9,10,11,12]))

[3, 5]
[1, 6]
[1, 1]
[7, 6]

In [ ]:
# 음양 더하기

def solution(absolutes, signs):
    answer = 0
    for i in range(len(signs)):
        answer += absolutes[i] if signs[i] else -absolutes[i]
    return answer

print(solution([4,7,12],[True,False,True]))
print(solution([1,2,3] ,[False,False,True]))

9
0

In [ ]:
# 신규 아이디 추천 

def solution(new_id):
    answer = ''
    chars='abcdefghijklmnopqrstuvwxyz0123456789-_.'
    # 1단계 new_id의 모든 대문자를 대응되는 소문자로 치환합니다.
    ni = new_id.lower()
    # 2단계 new_id에서 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.)를 제외한 모든 문자를 제거합니다.
    ni = ''.join([x for x in ni if x in chars])
    # 3단계 new_id에서 마침표(.)가 2번 이상 연속된 부분을 하나의 마침표(.)로 치환합니다.
    while ni.count('..'):
        ni = ni.replace('..','.')
    # 4단계 new_id에서 마침표(.)가 처음이나 끝에 위치한다면 제거합니다.
    if ni and ni[0] =='.' : ni=ni[1:]
    if ni and ni[-1] =='.' : ni=ni[:-1] 
    # 5단계 new_id가 빈 문자열이라면, new_id에 "a"를 대입합니다.
    if ni=='': ni='a'
    # 6단계 new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
    if len(ni) > 15 : ni = ni[:15]
    #  만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.
    if ni and ni[-1] =='.' : ni=ni[:-1] 
    # 7단계 new_id의 길이가 2자 이하라면, new_id의 마지막 문자를 new_id의 길이가 3이 될 때까지 반복해서 끝에 붙입니다.
    if len(ni) <3 : ni = ni + ni[-1]*(3-len(ni))
    return ni

print(solution('...!@BaT#*..y.abcdefghijklm'))
print(solution("z-+.^."))
print(solution("=.="))   
print(solution("123_.def"))   
print(solution("abcdefghijklmn.p"))

bat.y.abcdefghi
z--
aaa
123_.def
abcdefghijklmn

In [ ]:
# 3진법 뒤집기 

def solution(n):
    samjin =[]
    #3진법 변환
    while n>2:
        samjin.append(n%3)
        n=n//3
    samjin.append(n)
    # print(samjin)
    samjin = samjin[::-1]
    # print(samjin)
    return sum([ v*3**i for i,v in enumerate(samjin) ]) #십진법 변환
    return 0

print(solution(45))
print(solution(125))

[0, 0, 2, 1]
[1, 2, 0, 0]
7
[2, 2, 1, 1, 1]
[1, 1, 1, 2, 2]
229

In [ ]:
'''int(tmp, 3)'''
#문자열을 형변환 할 때 진법 알려줌
# int?

In [ ]:
# 실패율
def solution(N, stages):
    answer = []
    '''
    실패율은 다음과 같이 정의한다.
    스테이지에 도달했으나 아직 클리어하지 못한 플레이어의 수 / 스테이지에 도달한 플레이어 수
    실패율이 높은 스테이지부터 내림차순으로 스테이지의 번호가 담겨있는 배열을 return 하도록 solution 함수를 완성하라.

    스테이지의 개수 N은 1 이상 500 이하의 자연수이다.
    stages의 길이는 1 이상 200,000 이하이다.
    stages에는 1 이상 N + 1 이하의 자연수가 담겨있다.
     각 자연수는 사용자가 현재 도전 중인 스테이지의 번호를 나타낸다.
     단, N + 1 은 마지막 스테이지(N 번째 스테이지) 까지 클리어 한 사용자를 나타낸다.
    만약 실패율이 같은 스테이지가 있다면 작은 번호의 스테이지가 먼저 오도록 하면 된다.
    스테이지에 도달한 유저가 없는 경우 해당 스테이지의 실패율은 0 으로 정의한다.

    입출력 예
    N 	stages 	result
    5 	[2, 1, 2, 6, 2, 4, 3, 3] 	[3,4,2,1,5]
    4 	[4,4,4,4,4] 	[4,1,2,3]
    '''
    aa={}
    for i in range(N):
        s_total = len([x for x in stages if x > i]) #도달자+ 통과자
        s_not_pass = stages.count(i+1) #미통과자
        s_pass_ratio = 1 if s_total==0 else 1-s_not_pass/s_total #실패확률
        # print(i+1,'stage : ',s_not_pass,s_total,s_pass_ratio)
        #확률을 키로 하고 스테이지 리스트 저장
        # print(aa, aa[s_pass_ratio] if s_pass_ratio in aa else [], [i+1]) 
        # aa[s_pass_ratio] = sum([aa[s_pass_ratio]] if s_pass_ratio in aa else [], [i+1]) #[i+1] 앞쪽에 삽입 되어 내림차순으로 3,2,1 됨
        aa[s_pass_ratio] = sum([[i+1]],aa[s_pass_ratio] if s_pass_ratio in aa else []) #[i+1] 이 뒤에 추가 되어 오름차순으로 1,2,3 됨
        # print(aa)
    # print(sum([aa[i] for i in sorted(aa)],[]))    
    return sum([aa[i] for i in sorted(aa)],[])
print('==================')
print(solution(5 ,[2, 1, 2, 6, 2, 4, 3, 3]))
print('==================')
print(solution(4 ,[4,4,4,4,4]))

==================
[3, 4, 2, 1, 5]
==================
[4, 1, 2, 3]

In [ ]:
'''
이차원 리스트를 일차원으로
https://programmers.co.kr/learn/courses/4008/lessons/12738
'''
ddd={1:[1,2],2:[3,4]}
print(sum(ddd.values(),[]))

sorted(sum([],[2,1,3]))

print( 1 if 0 in ddd else 0)

sum([],[1])

[1, 2, 3, 4]
0

[1]

In [ ]:
'''
이진탐색 간단히
https://programmers.co.kr/learn/courses/4008/lessons/13173
'''
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 9))
# bisect.bisect?

5

In [ ]:
#예산
def solution(d, budget):
    answer = 0
    d=sorted(d)
    # print(d)
    t=0
    for i,v in enumerate(d):
        t+=v
        if t == budget:
            answer=i+1
            break
        elif t > budget:
            answer=i
            # print(budget, t-v, '나머지',budget - (t-v))
            break
    else: #브레이크 없이 나올 때
        answer=len(d)
    return answer

print(solution([1,3,2,5,4],9))
print(solution([2,2,3,3],10))

3
4

In [ ]:
# 약수의 개수와 덧셈 
def solution(left, right):
    answer = 0
    for i in range(left,right+1):
        if int(i**0.5)**2 == i: #정수인 제곱근이 있으면 약수 개수가 홀수
            answer-=i #약수의 개수가 홀수면 빼고
        else:
            answer+=i #약수의 개수가 짝수면 더하고
    return answer

print(solution(13 ,17))
print(solution(24 ,27))

43
52

In [ ]:
#약수 구하기
for i in range(1,101):
    y={1,i}
    for j in range(2,int(i**0.5)+1):
        if i%j==0: y.update({j,i//j})
        # print(j)
    # print(i,y,len(y)%2)
    if len(y)%2==1 :print(i,y)
#정수 제곱근이 있으면 약수 개수가 홀수

1 {1}
4 {1, 2, 4}
9 {1, 3, 9}
16 {16, 1, 2, 4, 8}
25 {1, 5, 25}
36 {1, 2, 3, 36, 4, 6, 9, 12, 18}
49 {1, 7, 49}
64 {64, 1, 32, 2, 16, 4, 8}
81 {81, 1, 3, 9, 27}
100 {1, 2, 100, 4, 5, 10, 50, 20, 25}

In [ ]:
#2016년

def solution(a, b):
    answer = ''
    mm={ 0:0, 1:31, 2:29, 3:31, 4:30, 5:31,
        6:30, 7:31, 8:31, 9:30, 10:31, 11:30,}
    ml=list(mm.values())
    ww='SUN MON TUE WED THU FRI SAT'.split()
    days = sum(ml[:(a)]) + b
    # print(days)
    return ww[(days+4)%7]

print(solution(1,1))
print(solution(12,31))
print(solution(5,24))

1
FRI
366
SAT
145
TUE

In [ ]:
# 가운데 글자 가져오기
def solution(s):
    answer = ''
    mid=len(s)/2
    # print(mid)
    if len(s)%2 == 0: #짝수
        answer = s[int(mid)-1:int(mid)+1]
    else:#홀수
        answer = s[int(mid)]
    return answer

print(solution("abcde"))
print(solution("qwer"))

2.5
c
2.0
we

In [ ]:
# 비밀지도
def solution(n, arr1, arr2):
    answer = []
    for b1,b2 in zip(arr1,arr2):
        # print(bin(b1),bin(b2))
        # print(bin(b1 | b2))
        answer.append(f"{bin(b1|b2)[2:].replace('1','#').replace('0',' '):>{n}s}")
        # print(answer[-1],len(answer[-1]))
    return answer

print(solution(5,[9, 20, 28, 18, 11],[30, 1, 21, 17, 28]))
print(solution(6,[46, 33, 33 ,22, 31, 50],[27 ,56, 19, 14, 14, 10]))
# str.rjust?

['#####', '# # #', '### #', '#  ##', '#####']
['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']

In [ ]:
# [1차] 다트 게임
def solution(dartResult):
    answer = 0
    dr=dartResult
    # print(dr)
    dr=dartResult.replace('S','S + ').replace('D','D + ').replace('T','T + ')
    dr=dr.replace('+ #','*(-1) +')
    # print(dr)
    while dr.count('+ *'):
        # dr = dr[:dr.index('+ *')+2][::-1].replace('+', '+ 2 *',2)[::-1]+'/'+dr[dr.index('+ *')+3:]
        dr = dr[:dr.index('+ *')+2][::-1].replace('+', '+ 2 *',2)[::-1]+dr[dr.index('+ *')+3:]
        
    # print(dr.count('+ *'), dr.index('+ *') if dr.count('+ *') else 0)
    dr=dr.replace('S','**1').replace('D','**2').replace('T','**3') +'0'
    # dr=dr.replace('S','^1').replace('D','^2').replace('T','^3') +'0'
    # print(dr)  
    return eval(dr)

print(solution("1S2D*3T"))
print(solution("1D2S#10S"))
print(solution("1D2S0T"))
print(solution("1S*2T*3S"))
print(solution("1D#2S*3S"))
print(solution("1T2D3D#"))
print(solution("1D2S3T*"))

37
9
3
23
5
-4
59

In [ ]:
# 같은 숫자는 싫어
def solution(arr):
    answer=[]
    for i in arr:
        if len(answer)>0:
            if answer[-1] !=i:
                answer.append(i)    
        else:
            answer.append(i)
    return answer

print(solution([1,1,3,3,0,1,1]))
print(solution([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]

In [ ]:
# 나누어 떨어지는 숫자 배열
def solution(arr, divisor):
    answer = sorted([x for x in arr if x%divisor==0])
    if len(answer)==0 : answer=[-1]
    return answer

print(solution([5, 9, 7, 10],5))
print(solution([2, 36, 1, 3],1))
print(solution([3, 2, 6],10))

[5, 10]
[1, 2, 3, 36]
[-1]

In [ ]:
# 두 정수 사이의 합
def solution(a, b):
    answer = a if a==b else sum(range(min(a,b),max(a,b)+1))
    return answer

print(solution(3,5))
print(solution(3,3))
print(solution(5,3))

12
3
12

In [ ]:
# 문자열 내 마음대로 정렬하기
def solution(strings, n):
    answer = sorted(strings, key=lambda x:(x[n],x)) #orer by 여러 조건 괄호로 묶어서 가능
    return answer

print(solution(["sun", "bed", "car"],1))
print(solution(["abce", "abcd", "cdx"],2))

['car', 'bed', 'sun']
['abcd', 'abce', 'cdx']

In [ ]:
# 문자열 내 p와 y의 개수
def solution(s):
    return s.lower().count('p') == s.lower().count('y')
    
print(solution("pPoooyY"))
print(solution("Pyy"))

True
False

In [ ]:
# 문자열 내림차순으로 배치하기
def solution(s):
    return "".join(sorted(list(s),reverse=True))
    
print(solution("Zbcdefg"))

gfedcbZ

In [ ]:
# 문자열 다루기 기본
def solution(s):
    return len(s) in [4,6] and s.isdigit()
    
print(solution("a234"))
print(solution("1234"))

False
True

In [ ]:
# 서울에서 김서방 찾기
def solution(s):
    return f'김서방은 {s.index("Kim")}에 있다'
           
print(solution(["Jane", "Kim"]))

김서방은 1에 있다

In [ ]:
# 소수 찾기
def isPrime(x):
    if x<2: return False
    for i in range(2,int(x**.5)+1):
        if x%i==0: return False
    return True

def solution(n):
    answer = [ x for x in range(2,n+1) if isPrime(x)]
    return len(answer)

print(solution(1000000))
print(solution(5))

78498
3

In [ ]:
# 수박수박수박수박수박수?
def solution(s):
    return '수박'*(s//2) +'수박'[:s%2]

print(solution(3))
print(solution(4))

수박수
수박수박

In [ ]:
# 문자열을 정수로 바꾸기
def solution(s):
    return int(s)

print(solution(3))
print(solution(4))

수박수
수박수박

In [ ]:
# 시저 암호
def solution(s,n):
    # print(len(s))
    for i in range(len(s)):
        if s[i]!=' ':#공백 아니면
            # print(ord(s[i]))
            a_index = ord('A') if s[i].isupper() else ord('a')
            c_index = ord(s[i]) - a_index 
            n_index = (c_index + n) % 26 #알파벳 26자
            # print(s[i], a_index, c_index, n_index, chr(a_index+n_index))
            s=s[:i]+chr(a_index+n_index)+s[i+1:]
    return s

print(solution('AB',1))
print(solution('z',1))
print(solution('a B z',4))

BC
a
e F d

In [ ]:
# 약수의 합
def solution(n):
    y=set()
    for i in range(1,int(n**.5)+1):
        if n%i==0 : #나눠지면
            y.update((i, n//i))
    return sum(y)

print(solution(12))
print(solution(5))

28
6

In [ ]:
# 이상한 문자 만들기
def solution(s):
    sl=s.split(" ")
    for idx,i in enumerate(sl):
        #단어 기준 홀짝 변경
        for j in range(len(i)):
            # print(i[:j]+i[j].upper()+i[j+1:])
            if j%2==0:
                i=i[:j]+i[j].upper()+i[j+1:]
            else:
                i=i[:j]+i[j].lower()+i[j+1:]
        sl[idx]=i
    # ol = s.split(" ")
    # print(ol,sl)
    # for i in range(len(ol)):
    #     s=s.replace(ol[i],sl[i],1)
    return " ".join(sl)

print(solution(" try hello world a bc  def   ghij  "))
print(solution("try hello world".upper()))

 TrY HeLlO WoRlD A Bc  DeF   GhIj
TrY HeLlO WoRlD

In [ ]:
# 자릿수 더하기
def solution(n):
    return (sum([int(x) for x in str(n)]))

print(solution(123))
print(solution(987))

6
24

In [ ]:
# 자연수 뒤집어 배열로 만들기
def solution(n):
    return [int(x) for x in str(n)[::-1]]

print(solution(12345))

[5, 4, 3, 2, 1]

In [ ]:
# 정수 내림차순으로 배치하기
def solution(n):
    return int(''.join(sorted(str(n),reverse=True)))

print(solution(118372))

873211

In [ ]:
# 정수 제곱근 판별
def solution(n):
    return int((n**.5+1)**2) if int(n**.5)==n**.5 else -1

print(solution(121))
print(solution(3))

144
-1

In [ ]:
# 제일 작은 수 제거하기
def solution(n):
    n.remove(min(n))
    return n if len(n)>0 else [-1]

print(solution([4,3,2,1]))
print(solution([10]))

[4, 3, 2]
[-1]

In [ ]:
# 짝수와 홀수
def solution(n):
    return 'Even' if n%2==0 else 'Odd'

print(solution(3))
print(solution(4))

In [ ]:
# 최대공약수와 최소공배수
def solution(n,m):
    yl={n:set(),m:set()}
    # print(yl)
    for i in (n,m):
        for d in range(1,int(i**.5)+1):
            if i%d ==0:yl[i].update([d,i//d])
        # print(yl)
    yi = yl[n]&yl[m]
    # print(yi)

    return max(yi), int(m*n/max(yi))

print(solution(3,12))
print(solution(6,5))

(3, 12)
(1, 30)

In [ ]:
'''요소를 모두 곱하기'''
a=[1,2,3,4,5]
# sum(a)
eval("*".join(map(str,a)))# 모두곱

120

In [ ]:
'''
최대 공약수, 최소, 공배수
https://wikidocs.net/21759
유클리드 호제법
'''

0

In [ ]:
# 콜라츠 추측
def solution(n):
    for i in range(500):
        if n==1: return i #처음부터 n==1인경우
        n= n//2 if n%2==0 else n*3+1
        if n==1: return i+1
    else:
        return -1

print(solution(6))
print(solution(16))
print(solution(626331))

8
4
-1

In [ ]:
# 평균 구하기
def solution(n):
    return sum(n)/len(n)

print(solution([1,2,3,4]))
print(solution([5,5]))

2.5
5.0

In [ ]:
# 하샤드 수
def solution(n):
    return n%sum(map(int,sorted(str(n)))) == 0 

print(solution(10))
print(solution(12))
print(solution(11))
print(solution(13))

True
True
False
False

In [ ]:
#핸드폰 번호 가리기
def solution(s):
    return '*'*(len(s)-4)+s[-4:]

print(solution("01033334444"))
print(solution("027778888"))

*******4444
*****8888

In [ ]:
#행렬의 덧셈
def solution(arr1, arr2):
    answer = arr1.copy()
    for r,row in enumerate(arr1):
        for c,v1 in enumerate(row):
            answer[r][c] = v1 + arr2[r][c]
    return answer

print(solution([[1,2],[2,3]],[[3,4],[5,6]]))
print(solution([[1],[2]],[[3],[4]]))

[[4, 6], [7, 9]]
[[4], [6]]

In [ ]:
#x만큼 간격이 있는 n개의 숫자 
def solution(x,n):
    return [x * i for i in range(1,n+1)]

print(solution(2,5))
print(solution(4,3))
print(solution(-4,2))
print(solution(0,10))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
#직사각형 별찍기 
# 문제 설명
# 이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.
# 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인
#  직사각형 형태를 출력해보세요.
def solution(a,b):
    for i in range(b):
        print('*'*a)

#표준입력에서 m[공백]n 받아서 int로 형변환
# a, b = map(int, input().strip().split(' '))
# print(solution(a + b))

print(solution(5,3))

*****
*****
*****
None

In [ ]:
print([1.0 * i for i in range(8+1)])
print([12/8* i for i in range(8+1)])
print([3* i for i in range(8+1)])

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
[0.0, 1.5, 3.0, 4.5, 6.0, 7.5, 9.0, 10.5, 12.0]
[0, 3, 6, 9, 12, 15, 18, 21, 24]